@import '/src/styling';

.allHeading {
  width: 100%;
  text-align: center;
  color: navy;
  margin-bottom: 3rem;
  font-family: Roboto;
}

.mainHeadline {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subHeadline {
  color: #888;
  font-size: 1.5rem;
}
